* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );

  ul {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

    li {
      background: white;
      padding: 1rem;
      border-radius: 32px;
      cursor: pointer;
      box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);

      a {
        color: #121412;
        text-decoration: none;
      }
    }
  }
}
